body {
	padding-top: 50px;
	font-family: 'Raleway', sans-serif !important;
	height: 100%;
	margin: 0px;
}

#aboutLines {
	color: #e6e8eb;
	text-align: center;
	display: inline-block;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

#aboutLines > hr {
	color: #e6e8eb;
	background-color: #e6e8eb;
	height: 1px;
	display:inline-block;
	width:40%;
	margin: auto;
}


#about {
	background-image: url("https://www.universitiesabroad.com/sites/all/files/public/field/image/letter%20of%20intent2.jpg");
	background-size: cover;
	height: 110%;
	align-items: center;
	display: flex;
}

#aboutMe {
	background-color: rgba(118, 144, 208, 0.9);
	color: #e6e8eb;
	overflow:hidden;
	margin-left: 17%;
	background: linear-gradient(to right, rgba(118, 144, 208, 0.40) 0%, rgba(118, 144, 208, 0.9) 30%, rgba(118, 144, 208, 0.9) 60%);
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

#aboutExperience {
	font-size: 20px;
	padding-top:10px;
}

#aboutLines h2 {
	font-size:40px !important;
}

.img-responsive {
	width: 100%;
	margin: 20px;
	}

#image {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 40px;
}

#portfolio {
	background-image: url("https://www.novacoast.com/images/laptop-code.jpg");
	background-size: cover;
	height:110%;
	align-items: center;
	display: flex;
}

#myExperience {
	display: none;
	background-color: rgba(104, 109, 119, 0.9);
	overflow:hidden;
	color: #ffffff;
	margin: 30px;
	flex-grow: 2;
	padding: 100px 0px 30px 0px;
}

#contacts {
	background-color: #d1daef;
	color: #686d77;
	height:100%;
}

#myContacts {
	display: none;
	padding: 100px 0px 30px 0px;
}

#portfolioLines {
	padding: 0px 30px 70px 30px;
	color: #ffffff;
	margin: auto;
	text-align: center;
}

#portfolioLines > hr {
	color: #ffffff;
	background-color: #ffffff;
	height: 1px;
	display:inline-block;
	width:40%;
	margin: auto;
}

#contactLines {
	color: #686d77;
	margin: auto;
	padding-bottom: 120px;
	text-align: center;
}

#contactLines > hr {
	color: #686d77;
	background-color: #686d77;
	height: 2px;
	display:inline-block;
	width:40%;
	margin: auto;
}

.sectionIcons {
	font-size: 40px !important;
}

#aboutLines > * {
	vertical-align:middle;  // Align children to middle of line
}

#portfolioLines > * {
	vertical-align:middle;  // Align children to middle of line
}

#contactLines > * {
	vertical-align:middle;  // Align children to middle of line
}

.display-1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 55px;
}


#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #d1daef;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
#back-to-top:hover {
	background: #a7aebf;
}
#back-to-top.show {
	opacity: 1;
}

.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #acb3be;
}

#form {
	padding: 0px 40px 0px 40px;
	border-right: 1px solid #686d77;
}

html, body {
	height: 100%;
}

.fill {
	min-height: 100%;
	height: 100%;
}

.bodyLink {
	padding-top: 35px;
}

.social {
	text-align: center;
	align-items: center;
	display: flex;
}


.socialIcons {
	font-size: 70px !important;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-twitter-square {
	color: #55acee;
}

.fa-linkedin-square {
	color: #007bb6;
}

.socialBackground {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 15px 4px 50px 4px;
	flex-grow: 2;
	margin-top: 80px;
}

.socialText {
	font-size: 30px;
}

#subject {
	height: 200px;
}

#fname {
	height:25px;
}

#lname {
	height:25px;
}

h4 {
	font-size: 22px;
}
li {
	font-size: 18px;
}
